@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-Black.eot");
  src: local("Ristretto Slab Pro Black"), local("RistrettoSlabPro-Black"), url("./fonts/ristretto_slab/RistrettoSlabPro-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-Black.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-Black.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-Medium.eot");
  src: local("Ristretto Slab Pro Medium"), local("RistrettoSlabPro-Medium"), url("./fonts/ristretto_slab/RistrettoSlabPro-Medium.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-Medium.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-Medium.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro.eot");
  src: local("Ristretto Slab Pro"), local("RistrettoSlabPro"), url("./fonts/ristretto_slab/RistrettoSlabPro.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-Bold.eot");
  src: local("Ristretto Slab Pro Bold"), local("RistrettoSlabPro-Bold"), url("./fonts/ristretto_slab/RistrettoSlabPro-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-Bold.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-Bold.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-SemiBold.eot");
  src: local("Ristretto Slab Pro SemiBold"), local("RistrettoSlabPro-SemiBold"), url("./fonts/ristretto_slab/RistrettoSlabPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-SemiBold.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-SemiBold.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-ExtraLight.eot");
  src: local("Ristretto Slab Pro ExtraLight"), local("RistrettoSlabPro-ExtraLight"), url("./fonts/ristretto_slab/RistrettoSlabPro-ExtraLight.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-ExtraLight.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-ExtraLight.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-Thin.eot");
  src: local("Ristretto Slab Pro Thin"), local("RistrettoSlabPro-Thin"), url("./fonts/ristretto_slab/RistrettoSlabPro-Thin.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-Thin.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-Thin.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ristretto Slab Pro";
  src: url("./fonts/ristretto_slab/RistrettoSlabPro-Light.eot");
  src: local("Ristretto Slab Pro Light"), local("RistrettoSlabPro-Light"), url("./fonts/ristretto_slab/RistrettoSlabPro-Light.eot?#iefix") format("embedded-opentype"), url("./fonts/ristretto_slab/RistrettoSlabPro-Light.woff2") format("woff2"), url("./fonts/ristretto_slab/RistrettoSlabPro-Light.woff") format("woff"), url("./fonts/ristretto_slab/RistrettoSlabPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.eot");
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.woff2") format("woff2"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.woff") format("woff"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.ttf") format("truetype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Bold.svg#AtkinsonHyperlegible-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.eot");
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.eot?#iefix") format("embedded-opentype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.woff2") format("woff2"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.woff") format("woff"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.ttf") format("truetype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Italic.svg#AtkinsonHyperlegible-Italic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.eot");
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.woff2") format("woff2"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.woff") format("woff"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-BoldItalic.svg#AtkinsonHyperlegible-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.eot");
  src: url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.woff2") format("woff2"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.woff") format("woff"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.ttf") format("truetype"), url("./fonts/atkinson_hyperlegible/AtkinsonHyperlegible-Regular.svg#AtkinsonHyperlegible-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Intrepid";
  src: url("./fonts/intrepid_bold/IntrepidBold.eot");
  src: url("./fonts/intrepid_bold/IntrepidBold.eot?#iefix") format("embedded-opentype"), url("./fonts/intrepid_bold/IntrepidBold.woff2") format("woff2"), url("./fonts/intrepid_bold/IntrepidBold.woff") format("woff"), url("./fonts/intrepid_bold/IntrepidBold.ttf") format("truetype"), url("./fonts/intrepid_bold/IntrepidBold.svg#IntrepidBold") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=fonts.css.map */